
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: white;
    width: 100%;
}
.center{
  margin:0 auto
}
.patient-bg{
  background: url(./assets/userbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.nav{
position: fixed;
display: flex;
/* align-items: center; */
width: 100%;
height: 100px;
font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 500;
/* From https://css.glass */
background: rgba(6, 13, 17, 0.55);
backdrop-filter: blur(12.3px);
-webkit-backdrop-filter: blur(9.6px);
border-bottom-width: 1px;
border-style: solid;
border-image: linear-gradient(to right, #6ddcff, #7f60f9) 1;
z-index: 999;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #6ddcff; /* Replace #FF3D00 with #6ddcff */
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}



